.identification
	position fixed
	left 25%
	top 25%
	
	width 75%
	line-height 90px

	#photo
		float left
		background url('http://graph.facebook.com/baf/picture?type=large')
		width 180px
		height 180px
		border 4px solid #000
		border-radius 25px
		margin-right 20px
	
	span.name
		font-size 3em
	
	ul.links
		li
			float left
			list-style none
			
			a
				text-decoration none
				color black
				
				.icon
					opacity 0.5
					-webkit-transition 0.25s ease
				
				.icon:hover
					//margin-left 0.3125em
					//margin-right 0.3125em
					opacity 1.0
					-webkit-transform-origin center center
					-webkit-transform scale(1.5)

ul.link-dock
	position fixed
	right 20px
	top 50px

	li
		list-style none
		
		a
			text-decoration none
			color black

			.dock-icon
				opacity 0.5
				-webkit-transition 0.25s ease
				//-webkit-transition opacity 0.5s ease

			.dock-icon:hover
				margin-top 0.3125em
				margin-bottom 0.3125em
				opacity 1.0
				-webkit-transform-origin right center
				-webkit-transform scale(1.5)