doctype 5
html(lang="en")
	head
		title Robert Ferris [baf.cc]
		link(rel='stylesheet', type='text/css', href='lib/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		//script(type='text/javascript', src='js/test.js')
	body
		.name
			#photo
			| Robert Ferris
		ul.link-dock
			li: a(href='#'): i.icon-envelope-alt.icon-3x.dock-icon
			li: a(href='#'): i.icon-pencil.icon-3x.dock-icon
			li: a(href='#'): i.icon-facebook-sign.icon-3x.dock-icon
			li: a(href='#'): i.icon-linkedin-sign.icon-3x.dock-icon
			li: a(href='#'): i.icon-twitter-sign.icon-3x.dock-icon
			li: a(href='#'): i.icon-github-sign.icon-3x.dock-icon
