doctype 5
html(lang="en")
	head
		title Robert Ferris [baf.cc]
		link(rel='stylesheet', type='text/css', href='lib/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		//TODO: // instead of https:// (breaks on file://)
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		script(type='text/javascript', src='js/main.js')
	body.impress-not-supported
		// impress references body right away, rather than waiting for init(), so we need to put this in <body>
		script(type='text/javascript', src='lib/impress/js/impress.js')
		#navbar
			li: a(href='#me') about me
			li: a(href='#bio') bio
			li: a(href='#resume') r&eacute;sum&eacute;
			li: a(href='#contact') contact
		.fallback-message
			// message for when impress isn't supported
			p Your browser 
				b doesn't support the features required
				|  by this site, so you are presented with a simplified version.
			p For the bext experience, please use the latest version of 
				b Chrome
				| , 
				b Safari
				| , or 
				b Firefox
				| .
		#impress
			#me.step.slide(data-x='-1000', data-y='-1500', data-scale='2')
				include ../includes/about-me.jade
			#bio.markdown-container.step.slide(data-x='-1000', data-y='0', data-scale='1', data-rotate-x='45')
				include ../markdown/bio.md
			#resume.markdown-container.step.slide(data-x='1000', data-y='0', data-scale='1', data-rotate-z='45')
				include ../markdown/resume.md
			#contact.step.slide(data-x='-1250', data-y='-1450', data-z='-300', data-scale='0.05')
				h1 Contact
				p Contact form right here yo yo yo
			#overview.step(data-x='0', data-y='0', data-scale='5')
		a#github-ribbon(href='https://github.com/baffles/baf.cc'): img(src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt='Fork me on GitHub')
		#copyright Copyright &copy; Robert Ferris, 2013

