extends blog-page

block prepend title
	| Archive - 

//- this logic should be moved to a view at some point

- for (var year in archives)
-	archives[year] = _.groupBy(archives[year], function(post) { return post.date.getMonth(); });

block append content
	section.archive
		h1 Archive
		ul.years
			- var postsByYear = _.groupBy(env.helpers.getBlogPosts(contents), function(post) { return post.date.getFullYear(); });
			- var years = _.chain(postsByYear).keys().reverse().value();
			each year in years
				- var postsByMonth = _.groupBy(postsByYear[year], function(post) { return post.date.getMonth(); });
				li
					span.year-label=year
					ul.months
						- var months = _.chain(postsByMonth).keys().reverse().value()
						each month in months
							li
								span.month-label=moment(new Date(0, month, 0)).format('MMMM')
								ul.posts
									each post in postsByMonth[month]
										li: a(href=post.url)=post.title