extends layout
include blog-common

block append head
	link(rel='stylesheet', href='/css/blog.css')
	link(rel='stylesheet', href='/css/highlight-tomorrow.css')

block content
	h1.content-subhead
		block content-subhead
			| BAF's Ramblings