extends blog-page

block prepend title
	| Blog - 

block append content
	include blog-page-teasers

block append head
	if prevPage
		link(rel='next', href=prevPage.url)
	if nextPage
		link(rel='next', href=nextPage.url)

block prepend footer-nav
	if prevPage
		li: a(href=prevPage.url) « Newer
	else
		block preFirst
			li: a(href='archive.html') « Archives

block append footer-nav
	if nextPage
		li: a(href=nextPage.url) Older »