extends blog-page

block append vars
	- bodyclass = 'post-detail'

block prepend title
	| #{ page.title + " - "}

block header
	h1= page.title

block append content
	+post(page, true)

block prepend footer-nav
	li: a(href=contents.index.url) « Full blog