extends layout

include article-common

block content
	each article in articles
		article.article.intro
			+article_header(article)
			section.content
				| !{ typogr(article.intro).typogrify() }
				if article.hasMore
					p.more
						a(href=article.url) more

block prepend footer
	div.nav
		if prevPage
			a(href=prevPage.url) « Newer
		else
			a(href='/archive.html') « Archives
		if nextPage
			a(href=nextPage.url) Next page »



