.identification
	#photo
	span.name Robert Ferris
	span.title
		span.paren (
		span.is is
		| 
		span.awesome awesome
		span.paren )
	ul.links
		li: a(href='mailto:'): i.icon-envelope-alt.icon-3x.icon
		li: a(href='http://blog.baf.cc/', title='Blog'): i.icon-pencil.icon-3x.icon
		li: a(href='https://fb.me/baf', title='Facebook'): i.icon-facebook-sign.icon-3x.icon
		li: a(href='https://plus.google.com/102603256650195581699', title='Google+'): i.icon-google-plus-sign.icon-3x.icon
		li: a(href='http://lnkd.in/a-G-CK', title='LinkedIn'): i.icon-linkedin-sign.icon-3x.icon
		li: a(href='https://twitter.com/baffles', title='Twitter'): i.icon-twitter-sign.icon-3x.icon
		li: a(href='https://github.com/baffles', title='GitHub'): i.icon-github-sign.icon-3x.icon
